body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#main {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 150px;
}

#main .odometer-formatting-mark {
    vertical-align: middle;
}