* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #222222;
}

.main__card {
    width: 100%;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}
.column {
    display: flex;
    flex-direction: column;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    gap: 10px;
}
.card {
  height: 4.25vw;
  padding: 0.2vw;
  margin: 0.2vw;
  text-align: left;
  background: #141414;
  border: 0.1vw solid #ffffff;
  transition: margin-top 500ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: transform 1s ease-in-out;
}
.num-container {
    color: #141414;
    display: flex;
    align-items: center;
    -webkit-text-stroke: #ffffff;
    text-shadow: -1px -1px 0 #ffffff,  
                  1px -1px 0 #ffffff,
                 -1px 1px 0 #ffffff,
                  1px 1px 0 #ffffff;
}
.odometer {
    transition: color 2s;
    font-size: 2vw;
    padding-left: 0.2vw;
    margin-top: calc(1vw - 2vh);
    margin-left: 0.2vw;
    margin-bottom: 0;
    margin-right: 0;
}

.odometer.red {
    color: black;
}

.odometer.orange {
    color: black;
}

.odometer.yellow {
    color: black;
}

.odometer.green {
    color: black;
}

.odometer.blue {
    color: white;
}

.odometer.cyan {
    color: black;
}

.odometer.purple {
    color: white;
}

.odometer.pink {
    color: black;
}

.odometer.black {
    color: white;
}

.odometer.white {
    color: black;
}

.transition {
    transition-delay: 0s !important;
    transform: translateY(-100px);
}